
<div class="page-container">
<h1>Prepare yourself to have a paw-some moment.</h1>
<h3>Here are your upcoming meetings</h3>

<table>
  <thead>
    <tr>
      <th>📅 Date</th>
      <th>Dog's name</th>
      # @meeting.dog_id
      <th>💲Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting.each do |meeting| %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>

</div>

