
.card-category {
    //background-size: full-width-banner img;
    //background-size: cover;
    //background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 0px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
  }  


  .btn-yours {
    opacity: 0.5;
    background-color: #fec92d;
    color: white;
    padding: 8px 25px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
  }

  .btn-yours:hover {
    background-color: #fec92d;
    color: white;
    padding: 8px 25px;
    border-radius: 4px;
    opacity: 1;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  .btn-yours-orange {
    opacity: 0.5;
    background-color: orange;
    color: white;
    padding: 8px 25px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
  }

.btn btn-light {
    padding: 8px 25px;
    border-radius: 4px;
}

#listing {
    color: gray;
    align-items: center;
    display: flex;
    margin: 30px;
    padding: 30px;
    border: 1px solid lightgrey;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

#edit-form {
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px
  }


  .avatar-large {
    object-fit: cover;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: -100px 1650px 150px 80px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }