<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/loki_the_berlin_collie/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>
  <div class="footer-copyright">
     Share your  <i class="fas fa-heart"></i>   - share your dog
  </div>
</div>