<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url(bannerdogs.jpg);">
  <div class="container">
    <h1>BARKN</h1>
    <p>Find new furry friends around you.</p>
    <a class="btn btn-flat" href="#">Search now</a>
  </div>
</div>
