// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "searchbar";
@import "banner";
@import "footer";

.page-container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  min-height: 80vh;

}


.btn a {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #FEC92D;
  font-weight: bold;
  border-radius: 4px;
}

.btn a:hover {
  text-decoration: none;
  color: white;
  background-color: #FEC92D;
  opacity: 50;
}

.align-icons {
  text-align: center;
}

h1 {
  color: gray
}
