// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "searchbar";
@import "banner";
@import "footer";

.page-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  height: 546px;

}

.btn a {
  margin-top: 50px;
  margin-left: 135px;
  text-decoration: none;
  color: white;
}

.btn a:hover {
  margin-top: 50px;
  margin-left: 135px;
  text-decoration: none;
  color: white;
}

.align-icons { 
  text-align: center;
}

h1 {
  color: gray
}