// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "buttons";
@import "banner";
@import "footer";
@import "searchbar";

.page-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  align-items: center;
}


h1 {
  font-size: 30px;
}



