.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 10vh;
  align-items: center;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  
}

.navbar-lewagon .navbar-brand p {
  font-size: 43px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

a {
  color: grey;
}

.nav-link:hover {
  color: #FEC92D;
  text-decoration: none;
}
#brand {
  color: #FEC92D;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
